.Acco {  
  background-color: #fff;  
  border: 1px solid wheat;  
  border-radius: 5px;  
}

.Acco .accordion-item {  
  margin-bottom: 10px;  
}

.Acco .accordion-header {
  background-color: wheat; 
  cursor: pointer;  
  padding: 15px; 
  display: flex;
  justify-content: center;  
  align-items: center;
  transition: background-color 0.3s ease;  
}

.Acco .accordion-header:hover {
  background-color: #ddd;  
}

.Acco .accordion-body {
  padding: 15px;  
  text-align: center;  
  justify-content: center;  
  align-items: center;
  transition: max-height 0.3s ease;  
}

.Acco .accordion-body.show {  
  max-height: 500px;  
}